<!-- views/partials/_header.ejs -->

<h1> TinyApp </h1>
  <div><a href="/urls">Home Page</a> | <a href="/urls/new">Create New TinyURL</a></div>

<% if(user && user.email){ %>
  <p> Logged in as <%= user.email %> </p>

    <form class="form-inline" action="/logout" method="POST">

      <div class="form-group mb-2">

        <button type="submit" class="btn btn-primary">Logout</button>

      </div>
  </form>

 <% } else{ %>
 <div><a href="/login">Login</a> | <a href="/register">Register</a></div>

<% } %>